p{
    text-align: center;
    margin-left: 2rem;
    margin-top: 0;
}

ul{
    margin-top: 0;
}

li{
    margin-top: 10px;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
}

h4{
    margin-bottom: 0;
}

.about{
    margin-top: 10rem;
}